<h1>Eat the Burgers!</h1>
<div class="container">
    <div class="row">
        <div>
            <input id="burgerName">
            <button id="makeBurger">Make Burger</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Make the Burger</h3>
            <ul id="undevoured">Uneaten Burgers</ul>
        </div>

        <div class="col-4">
            <h3>DEVOUR THE BURGER!!</h3>
            <ul id="devoured">Devoured Burgers</ul>
        </div>
    </div>

    <script src="/assets/js/script.js"></script>

</div>